{% if page.comments %}
    <div class="article-comments">
        <div id="disqus_thread"></div>
        <script>
            (function() { 
            var d = document, s = d.createElement('script');
            s.src = 'https://stefan-jeitler-github-io.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
    </div>
    <script id="dsq-count-scr" src="https://stefan-jeitler-github-io.disqus.com/count.js" async></script>
{% endif %}