<style>
    #cookie-notice {
        padding: 0.5rem 1rem;
        display: none;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #222;
        color: rgba(255, 255, 255, 0.8);
    }

    #cookie-notice a {
        display: inline-block;
        cursor: pointer;
        margin-left: 0.5rem;
    }

    @media (max-width: 767px) {
        #cookie-notice span {
            display: block;
            padding-top: 3px;
            margin-bottom: 1rem;
        }

        #cookie-notice a {
            position: relative;
            bottom: 4px;
        }
    }
</style>
<div id="cookie-notice"><span>Cookies are used on this site.</span><a id="cookie-notice-accept" class="btn btn-primary btn-sm">Got it!</a></div>
<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    if (readCookie('cookie-notice-dismissed') != 'true') {
        document.getElementById('cookie-notice').style.display = 'block';
    } 

    document.getElementById('cookie-notice-accept').addEventListener("click", function () {
        createCookie('cookie-notice-dismissed', 'true', 31 * 12);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });

</script>