<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <h4>{{ site.title }}</h4>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header-menu">
                <li><a href="/articles" class="nav-link px-2 text-white">Articles</a></li>
            </ul>

            <div class="text-end">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 header-menu">
                    <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>