<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{'/assets/styles/bootstrap.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{'/assets/styles/main.css' | relative_url}}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GCHJ0NBSCC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-GCHJ0NBSCC');
    </script>
</head>

<body class="bg-light">
    {% include navigation.html %}
    <main id="main" class="container bg-white">
        {{ content }}
    </main>
    <script src="{{'/assets/js/bootstrap.bundle.min.js' | relative_url}}"></script>
    {% include cookie-consent.html %}
</body>

</html>