---
layout: default
---

<article id="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-date mt-4 mb-4">Published on {{ page.date | date: "%Y-%m-%d" }}</div>
        <div class="mt-3 mb-4">
            {% for tag in page.tags %}
            <span class="badge bg-primary post-tag">{{ tag }}</span>
            {% endfor %}
        </div>
    </header>
    {{ content }}
</article>
{% include comments.html %}